.alert {
    padding: .9rem 1.25rem;
    font-size: 14px;
    color: #fff;
    border-radius: .2857rem;
}

.alert-success {
    background-color: #00bf9a;
    border-color:  #00bf9a;
}

.alert-danger {
    background-color: #fd77a4;
    border-color:  #fd77a4;
}