.footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0deg,#ba54f5,#e14eca);
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.1), 0 4px 20px 0 rgba(0,0,0,.15);
}

.footer i { 
    color: #fff;
    font-size: 26px;
}