* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    -ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

*:focus {
    outline: none;
}

body {
    background-color: #f5f6fa;
    color: #1d253b;

    &.dark { 
        background-color: #1e1e2f;
        color: hsla(0,0%,100%,.6);
    }
}

h1 {
    height: 0;
    width: 0;
    margin: 0;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;

}

.help-text { margin-bottom: 10px; }