.form-switch .form-check-input {
    width: 46px;
    height: 22px;
    background-color: #ba54f552;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba%28255, 255, 255, 1%29'/></svg>");
    cursor: pointer;
}

.form-check-input:checked { background-color: #ba54f5; }

.form-check-input { border: none; }

.form-check-input:focus { box-shadow: 0px 0px 10px 3px #ba54f540; }

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
}

.form-switch { right: var(--bs-gutter-x, 0.75rem) }