.container-training {
    & a {
        position: relative;
        padding: 6px 30px;
        font-size: 22px;
        color: #1d253b;
        background-color: #fff;
        transition: .35s;

        &:hover, 
        &:active, 
        &:focus { background-color: #fff9; }

        &:not(:last-of-type) { border-bottom: 1px solid #222a4217; }

        &::before {
            position: absolute;
            top: 50%;
            left: 12px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            transform: translateY(-50%);
            content: "";
        }

        &.complete::before { background-color: #00bf9a; }

        &.not-complete::before { background-color: #fd5d93; }
    }
}

.dark .container-training {
    & a { 
        color: hsla(0,0%,100%,.6);
        background-color: #27293d;

        &:not(:last-of-type) { border-color: #2b3553; }

        &:hover, 
        &:active, 
        &:focus { background-color: #27293d66; }
    }
}

#user-name { font-size: 20px; }

#user-photo {
    height: 100px; 
    width: 100px; 
    border-radius: 50%; 
    background-size: cover;
    background-position: center;
    box-shadow: 0 1px 20px 0 #0000001a;
}