.message-error {
    display: none;
}

.opacity-1 {
    display: block;
}

/**
    redefine bootstrap styles
**/

.modal-dialog { max-width: 560px; }

/**
    registration
**/

.authorization {
    max-width: 560px;
    margin: 0 auto;
}