.btn-voice, 
.btn-verb-form { margin-bottom: 10px; }

.btn-voice__text { display: inline-block; }

.btn-choice,
.btn-select-translate, 
.btn-letter { 
    margin-right: 10px;
    margin-bottom: 10px;
}

.select-input__first-form, 
.select-input__second-form, 
.three-forms__first, 
.three-forms__second { margin-bottom: 10px; }

.slide-font { font-size: calc(1.5rem + 3.5vw); }

.btn { font-size: calc(1rem + .5vw); }

.input-width { max-width: 450px; }